*{
  margin:0px;
  box-sizing: border-box;
  padding: 0px;
}
body{
  background-color: #000;

}
h1{
  color:lime;
  font-size: 5rem;
  text-align: center;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 green;
}
p{
  color:lime;
  font-size:2rem;
  text-align: center;
  font-family: 'Lobster',cursive;
}
img{
  margin: 0px 30px;
  padding: 2% 2%;
  border-radius: 30%;
  max-width:100%;
  height:auto;
}
.space{
  padding:10px 30px;
  justify-content: center;
  display: flex;
}
footer{
  color:#00ff00;
  margin-left: 45%;
  padding-top: 0%;
}
.btn{
  width: 200px;
  height: 50px;
 margin-left: 40%;
 margin-top:50px;
 background-color: #00ff00;
 color:white;
 font-weight: 600;
 border-radius: 50%;
}